<div class="bottom-bar">
    <ul>
        <li>
            <a href="tel:+551120395400" title="+55 (11) 2039.5400">
                <span class="ion-ios-telephone"></span>
                <span>
                    +55 (11) <strong>2039.5400</strong>
                </span>
            </a>
        </li>

        <li>
            @*<a href="#" class="orcamento-sem-carrinho-home" title="Solicite um orçamento">*@
            <a href="#" class="budget-button" title="Solicite um orçamento">
                <span class="ion-ios-calculator"></span>
                <span>
                    Solicite<br />
                    um orçamento
                </span>
            </a>
        </li>
    </ul>
</div>