@*<ul class="list instagramAPI">
    <li>
        <a href="#" target="_blank" title="#">
            <img data-src="#" alt="#" />
        </a>
    </li>
</ul>*@

<div class="background-img"></div>

<a href="https://www.instagram.com/okoshialimentos" target="_blank" class="button score" data-score="10" data-titulo="Instagram - Clique Siga-nos" title="Siga-nos">
    <span class="ico"></span>
    Siga-nos
</a>