<div class="lead-overlay">
    <div class="lead-popup formPopup">
        <div class="header-image"></div>
        <span class="title">Cadastre-se</span><p>Para ver este conteúdo, preencha o formulário abaixo:</p>
        <form autocomplete="off">
            <div class="form validationGroup">
                <input type="text" name="nome" class="required nome" placeholder="Seu Nome">
                <input type="text" name="email" class="required email" placeholder="Seu E-mail">
                <input type="submit" class="btPopup1 btnEnviar vemPopup1" name="Submit" value="Cadastrar" id="bt-lead-Popup1">
            </div>
        </form>
        <a href="#" class="skip">Pular</a>
        <div class="close-button">Fechar</div>
    </div>
</div>

<div class="lead-overlay-2">
    <div class="lead-popup formPopup1">
        <div class="header-image"></div>
        <span class="title">Cadastre-se</span><p>Antes de acessar, fale um pouco mais sobre você!</p>
        <form form autocomplete="off">
            <div class="form validationGroup">
                <input type="text" name="email" class="required email" placeholder="Seu E-mail">
                <input type="text" name="Empresa" class="required empresa" placeholder="Sua Empresa">
                <input type="text" class="required telCel" name="Telefone" placeholder="Seu Telefone">
                <input type="submit" class="btPopup2 btnEnviar vemPopup2" name="Submit" value="Cadastrar" id="bt-lead-Popup2">
            </div>
        </form>

        <a href="#" class="skip">Pular</a>
        <div class="close-button">Fechar</div>
    </div>
</div>

<div class="videoSite"></div>