<ul class="main-menu">
    <li>
        <a href="/#home" title="Home" data-titulo="Menu Home" data-score="10" data-link-home="true">
            Home
        </a>
    </li>
    <li>
        <a href="/quem-somos" title="Quem Somos" data-score="10" data-titulo="Menu Quem Somos" data-link-home="false">
            Quem Somos
        </a>
    </li>
    <li>
        <a href="/#produtos" title="Produtos" data-score="10" data-titulo="Menu Produtos" data-link-home="true">
            Produtos
        </a>
    </li>
    <li>
        <a href="/#blog" title="Blog" data-score="10" data-titulo="Menu Blog" data-link-home="true">
            Blog
        </a>
    </li>
    <li>
        <a href="/#sac" title="SAC" data-score="10" data-titulo="Menu SAC" data-link-home="true" class="Contato">
            SAC
        </a>
    </li>
    <li>
        <a href="/#quero-revender" title="Quero Revender" data-score="10" data-titulo="Menu Quero Revender" data-link-home="true">
            Quero Revender
        </a>
    </li>
</ul>