<form autocomplete="off">
    <div class="form validationGroup vg-revenda row">
        <fieldset class="col-12">
            <input type="text" placeholder="Nome Completo" class="nome required" />
        </fieldset>

        <fieldset class="col-6">
            <input type="text" placeholder="E-mail" class="email required" />
        </fieldset>

        <fieldset class="col-6">
            <input type="text" placeholder="Telefone" class="telCel required" />
        </fieldset>

        <fieldset class="col-12">
            <input type="text" placeholder="CNPJ" class="cnpj required" />
        </fieldset>

        <fieldset class="col-12">
            <textarea placeholder="Mensagem" class="mensagem required"></textarea>
        </fieldset>

        <fieldset class="col-4 offset-8">
            <input type="submit" value="Enviar" id="bt-revenda" class="bt-revenda btnEnviar" />
        </fieldset>
    </div>
</form>