<form autocomplete="off">
    <div class="form validationGroup vg-sac row">
        <fieldset class="col-12">
            <input type="text" placeholder="Nome Completo" class="nome required" />
        </fieldset>

        <fieldset class="col-6">
            <input type="text" placeholder="E-mail" class="email required" />
        </fieldset>

        <fieldset class="col-6">
            <input type="text" placeholder="Telefone" class="telCel required" />
        </fieldset>

        <fieldset class="col-12">
            <div class="select">
                <select class="assunto required">
                    <option value="" disabled selected hidden>Assunto</option>
                    <option value="Dúvida">Dúvida</option>
                    <option value="Elogio">Elogio</option>
                    <option value="Reclamação">Reclamação</option>
                    <option value="Sugestão">Sugestão</option>
                </select>
            </div>
        </fieldset>

        <fieldset class="col-12">
            <textarea placeholder="Mensagem" class="mensagem required"></textarea>
        </fieldset>

        <fieldset class="col-4 offset-8">
            <input type="submit" value="Enviar" id="bt-sac" class="bt-sac btnEnviar" />
        </fieldset>
    </div>
</form>