<ul class="social-media">
    <li>
        <a href="https://www.facebook.com/okoshialimentos/" target="_blank" title="Facebook">
            <span class="ion-social-facebook"></span>
        </a>
    </li>

    <li>
        <a href="https://www.instagram.com/okoshialimentos/" target="_blank" title="Instagram" class="instagram-ico no-lazy-loading"></a>
    </li>
</ul>