@section metatags{
    <title>Quem Somos - Okoshi</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
}

<div class="inner-page about-us">
    <div class="history">
        <div class="content">
            <h2 class="title">
                Tradição japonesa
                <span>que caiu no gosto</span>
                <span>do brasileiro.</span>
            </h2>

            <div class="text">
                <p>
                    Tudo começou em 1960 quando uma família de raízes japonesas decidiu atender a colônia vinda do Japão para a cidade de São Paulo, fabricando produtos da cultura japonesa, como a tradicional barrinha de arroz caramelizada que você tanto adora.
                </p>
            </div>
        </div>


        <div class="pop-corn-blurred" data-0="top:0vh;" data-_x1="top:35vh;"></div>

        <div class="pop-corn" data-0="top:0vh;" data-_x1="top:15vh;"></div>

        <div class="woman"></div>

        <div class="picture">
            <div class="img"></div>
            <div class="signature"></div>
            <div class="tape"></div>
        </div>
    </div>

    <div class="about">
        <div class="content">
            <div class="grid">
                <div class="curiosity">
                    <h5 class="title">
                        Curiosidade
                    </h5>
                    <p>
                        Okoshi é o nome desse<br />
                        arroz expandido lá no Japão.<br />
                        <strong>Daí vem o nosso nome!</strong>
                    </p>
                </div>

                <div class="text">
                    <p>
                        Pouco tempo depois, a Okoshi notou a escassez de produtos naturais no Brasil. E então, passou a produzir também alimentos para pessoas que buscam opções mais leves e com ingredientes naturais, além de públicos de alimentação mais restrita, como os celíacos, alérgicos e veganos. 
                    </p>
                    <p>
                        <strong>Com isso, a Okoshi tornou-se uma das pioneiras em alimentação saudável aqui no país!</strong>
                    </p>
                </div>
            </div>

            <div class="final-text">
                <p>
                    Acreditamos no equilíbrio para uma vida melhor, tanto individual (corpo e mente) quanto na sociedade (quem está bem consigo mesmo, fica bem com o próximo).
                    E assim, mais de 60 anos depois, a Okoshi segue fazendo parte da vida das pessoas, levando boas escolhas na alimentação e leveza para o dia a dia.
                </p>

                <h6 class="tagline">
                    Leve sempre Okoshi com você.
                </h6>
            </div>
        </div>
    </div>
</div>