@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-title" content="Okoshi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link href="~/Content/site/loading.min.css" rel="stylesheet" />
    <title>Okoshi</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
</head>

<body class="inner">
    <div class="site">
        
        <div class="inner-page about-us">
            <div class="info">
                <div class="content">
                    <div class="grid">
                        <div class="text">
                            <h1 class="title">
                                Ops!
                            </h1>

                            <p>
                                Site temporariamente indispon&iacute;vel
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Styles.Render("~/bundles/inner-css")
</body>
</html>