@section metatags{
    <title> Política de Privacidade • Okoshi</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
}

    <div class="inner-page about-us">
        <div class="info">
            <div class="content">
                <div class="grid">
                    <div class="text ">
                        <h1 class="title policy">
                            Política de Privacidade e
                            Termos de Utilização dos Dados Pessoais
                        </h1>

                        <p>Prezamos pela privacidade dos dados informados em nosso site, por essa razão, todos os dados coletados serão utilizados apenas para comunicações institucionais de nossa empresa com você, através de contatos diretos ou via materiais de marketing, como E-mails Marketing, Newsletters, Anúncios Gráficos no Google e parceiros, ou ainda, Conteúdos para Download que estejam em acordo com o seu interesse divulgado.</p>

                        <p>Também utilizamos os seus dados para melhorar sua experiência em nosso site monitorando suas ações, páginas visitadas e informações fornecidas nos formulários, personalizando as comunicações via e-mail marketing para adequar às suas necessidades.</p>

                        <p>Caso necessitemos utilizar seus dados para alguma finalidade diferente das descritas em nossa Política de Privacidade e Termos de Utilização dos Dados Pessoais, será feito mediante sua autorização prévia.</p>

                        <p>Caso seja necessário realizar alterações nesta Política de Privacidade atualizaremos neste mesmo link. Por esta razão, recomendamos que visite periodicamente esta página em nosso site para que mantenha-se informado em relação aos seus dados fornecidos para a nossa empresa.</p>

                        <p>Se, por ventura, as alterações sejam relevantes e necessitem de novas autorizações suas, faremos a divulgação via E-mail Marketing através dos contatos existente em nossa base de dados até a data da atualização.</p>

                        <h2 class="title-01">
                            Coleta de dados pessoais
                        </h2>

                        <p><strong>•	Informações pessoais</strong> – São armazenadas após o fornecimento pelo próprio usuário em nosso site, como nome, telefone, celular e e-mail, além de solicitações ocasionais como endereço, cidade, estado, país, empresa, cargo, profissão, segmento da empresa, número de funcionários dessa empresa, formação acadêmica, preferências de marketing, através dos diversos formulários existentes ao longo das páginas do site. Contatos realizados via e-mail ou telefone também poderão ser armazenados.</p>

                        <p><strong>•	Informações de navegação</strong> – Rastreamos e armazenamos as visitas em nosso site por meio do Google Analytics através da inserção de um ‘cookie’ no navegador. Serão validadas dados como, quantidade de acessos, duração de cada visita no site e páginas, horário, localização, fontes de referência páginas mais visualizadas, endereço IP, e tipo de navegador, entre outros. Também são rastreados os comportamentos do usuário nos E-mails Marketing enviados, como quantidade de cliques, visualizações da peça, mensagens e solicitações de opt-out.</p>

                        <p><strong>•	Histórico e perfil do usuário</strong> - Armazenamos as mensagens enviadas através dos formulários, segmentos de atuação, entre outros, solicitados em cada ação, bem como os conteúdos baixados em nossas páginas e landing pages.</p>


                        <h2 class="title-01">
                            Retenção de dados pessoais
                        </h2>

                        <p>Nossas aplicações e base de dados estão hospedados em servidores renomados do mercado com Termos de Uso disponíveis e legíveis em seus respectivos sites para garantir sua segurança e, sempre que desejar, poderá ser fornecida uma cópia à você.</p>

                        <p>Todas as suas informações pessoais fornecidas em nosso site são confidenciais e nos responsabilizamos a atuar de forma constante ao que estiver em nosso alcance para mantê-las protegidas em nosso ambiente virtual.</p>


                        <h2 class="title-01">Utilização dos seus dados pessoais</h2>

                        <p><strong>•	Peças de E-mail Marketing</strong> – Enviaremos ao seu e-mail peças digitais de comunicação para apresentação de novos produtos ou serviços de nossa empresa, para lançamentos ou promoções, informações diversas de nossa empresa, como institucionais, newsletters, eventos e novidades, sempre privilegiando seu potencial interesse no assunto.</p>

                        <p><strong>•	Materiais de conteúdo rico</strong> – Alguns formulários do site tem como objetivo o envio ou download automático de material digital (e-book) que são explicitados à você antes do envio dos seus dados.</p>

                        <p><strong>•	Publicidade online</strong> – Utilizaremos os seus dados de navegação, sem divulga-los, para exibir anúncios gráficos relacionados aos seus interesses em sites parceiros ao Buscador Google.</p>

                        <p><strong>•	Estatísticas</strong> – Utilizaremos os seus dados de cadastro e navegação, sem divulga-los, para extrair relatórios de visitas em nosso site afim de planejar melhorias para tornar melhor sua experiência de navegação e acesso aos nossos produtos e serviços.</p>


                        <h2 class="title-01">Período de utilização dos seus dados</h2>

                        <p> Todos os dados pessoais fornecidos deliberadamente à nossa empresa através dos formulários disponíveis em nosso site serão utilizados por um período indeterminado para todas as ações de Marketing Digital e contatos diretos através de e-mail e telefone conforme a necessidade de nossa empresa.</p>

                        <h2 class="title-01">Acesso aos seus dados pessoais</h2>

                        <p>Apenas terão acesso à visualizar suas informações pessoais colaboradores internos da nossa empresa, bem como nossos fornecedores de Marketing Digital e demais, com nossa devida autorizações.</p>


                        <h2 class="title-01">Compartilhamento de dados</h2>

                        <p> <strong>•	Compartilhamento em redes sociais</strong> – Ao utilizar os botões de compartilhamento de nossos Artigos para publicar em suas redes sociais publicará através de seu perfil na rede selecionada. Nossa empresa ou nosso site não possui acesso às suas redes sociais, portanto, não nos responsabilizaremos por equívocos nestas publicações.</p>

                        <p>    <strong>•	Requisições judiciais</strong> – Se solicitado judicialmente quaisquer dados contidos em nosso ambiente, lhe informaremos para que você nos autorize deliberadamente.</p>


                        <h2 class="title-01">Cancelamento e alteração/exclusão de informações pessoais</h2>

                        <p><strong>•	Alteração de dados pessoais</strong> – Caso necessite alterar as suas informações pessoais já enviadas, entre em contato com nossa equipe através do e-mail <a href="mailto:marketing@okoshi.com.br">marketing@okoshi.com.br</a>.</p>

                        <p><strong>•	Opt-out</strong> – Em todas as peças de E-mail marketing e Newsletter enviadas pela nossa empresa haverá um link para descadastramento disponível no rodapé de cada peça. Ao clicar nesse link você será descadastrado da nossa lista de contatos automaticamente e não receberá mais nossos E-mails Marketings e Newsletters, mas os seus dados permanecerão mantidos em nossa base de dados.</p>

                        <p><strong>•	Solicitação do cancelamento</strong> – É direito do usuário optar por não receber mais qualquer tipo de contato de nossa empresa, podendo ser solicitado para nossa equipe comercial, a qualquer momento, o descadastramento através do e-mail <a href="mailto:marketing@okoshi.com.br">marketing@okoshi.com.br</a>. Após sua solicitação os seus dados serão excluídos definitivamente em até 7 dias úteis.</p>

                        <p>  <strong>•	Recadastro</strong> – Caso solicite o descadastramento por qualquer dos meios acima e  preencha novamente qualquer formulário disponível em nosso site, será realizada a reinserção do seu e-mail à nossa lista. Para novo descadastro, a requisição de cancelamento deve ser feita novamente.</p>

                        <p>    <strong>•	Exclusão dos dados</strong> – Após sua solicitação de exclusão através de nosso canal de comunicação todos os dados armazenados serão excluídos de nossos servidores em até 7 dias úteis, todavia, caso solicite apenas o Opt-out através do link disponível nas peças de E-mail, manteremos os seus dados armazenados e sinalizaremos para que não receba mais os contatos via E-mail Marketing.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

