@section metatags{
    <title> Erro 404 • Okoshi</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
}





<div class="inner-page about-us">
    <div class="info">
        <div class="content">
            <div class="grid">
                <div class="text">
                    <h1 class="title">
                        Ops!
                    </h1>

                    <p>
                        A página que você está procurando não foi encontrada.
                    </p>
                    <a href="/" title="Voltar para o site" class="button">
                        Voltar para o site
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>